body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
/* ---------------------------Search box section ---------------------
---------------------------------------------------------------------------*/
#search-input{
  border:2px solid rgb(24 8 4); 
  border-radius:6px;
  padding: 6px;
  width: 70%;
  margin-bottom: 15px;
  font-weight: 500;
}
#search-button{
  border:2px solid rgb(24 8 4);
  border-radius:6px;
  padding: 6px 16px;
  margin-bottom: 15px;
  font-weight: 400;
  background-color: rgb(24 8 4);
  color:white;
}

.search-box {
  width: 281px;
  border-radius: 5px;
  margin: auto;
  margin-top: 50px;
  border-right: none;
}

/*---------------------------- All products section----------------------
--------------------------------------------------------------------------- */
#all-products {
  background-image:url('/images/product-bg.png');
  background-repeat: no-repeat; 
  background-size: cover; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 6px;
  text-align: center;
  width: 90%;
  margin: auto;
  align-items: center;
  justify-content: center;
}
.single-product {
  padding: 10px;
  transition: 0.6s;
  margin: 12px;
  background-color:#ffb100;
  border-radius: 15px;
  box-shadow: 4px 4px 7px white;
}
.single-product:hover {
  box-shadow: 0px 0px 0px white;
  border-radius: 10px;
  border: 2px solid #f99502b3;
  background-color: white;
}
.product-image {
  width: 160px;
  height: 160px;
}

/*------------------------------- Cart design section ----------------------------
----------------------------------------------------------------------------------*/
.cart {
  width: 350px;
  border: 2px solid #f99502b3;
  padding: 10px;
  box-shadow: 10px 10px 20px #f99502b3;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.addCartButton{
  background-color: rgb(46 154 99);
  color:white;
}
.addCartButton:hover{
  background-color: rgb(0, 185, 170);
}
.cart-main {
  padding-right: 30px;
}
.cartButton{
  background-color: #c000ff;
  color:white;
}

.detailsButton{
  background-color: #c000ff;
  color:white;
}

/* -------------------------------Responsive design Section ----------------------
----------------------------------------------------------------------------------*/
@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
